---
layout: layouts/base.njk
theme_color: "#9eebcf"
title: The Payto Link Generator
description: The Payto scheme generator to include into the links or redirects.
logo: card-image.png
url: "https://payto.money"
---

{#
    Go to base.njk
#}
